<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	
  <system.serviceModel>

	  <extensions>
		  <behaviorExtensions>
			  <add name="crossOriginResourceSharingBehavior"
				   type="MyExample.CORSEnablingBehavior, MyExample, Version=1.0.0.0, Culture=neutral"/>
		  </behaviorExtensions>
	  </extensions>
	  
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

		<endpointBehaviors>
			<behavior>
				<webHttp/>
				<crossOriginResourceSharingBehavior />
			</behavior>
		</endpointBehaviors>
		
    </behaviors>

	  <bindings>
		  <webHttpBinding>
			  <binding name="WebHttpBinding_IService1" />
		  </webHttpBinding>
	  </bindings>

	  <client>
		  <endpoint name="WebHttpBinding_IService1" contract="MyExample.IService1"
					binding="webHttpBinding" bindingConfiguration="WebHttpBinding_IService1"
					address="http://localhost:53362/Service1.svc"
					behaviorConfiguration="webhttp" />
	  </client>

	  <services>
		  <service name="MyExample.Service1">
			  <endpoint address="" binding="webHttpBinding" contract="MyExample.IService1" />
		  </service>
	  </services>
	  
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
